@model IEnumerable<CrudEnfermeiros.Models.Enfermeiro>
@{
    ViewData["Title"] = "Hospitais";
}

<h1>Hospitais</h1>

<p>
    <a asp-action="Cadastrar">Cadastrar novo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeNasciento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataDeNasciento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Nome)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
